@use "utility" as *;

.home {
    background: url("../img/website-bg.jpg") no-repeat center center;
    // height: 150vh;
    background-size: cover;
    padding: 5rem;
    margin-bottom: 15rem;
}

header {
    color: #fff;
    justify-content: space-around;
    background-color: $secondary-color;
    border-radius: 4rem;
    position: fixed;
    width: 98%;
    right: 1rem;
    z-index: 1000;
}

header, .header-icon {
    padding: $padding;
}

header, 
.header-ul, 
.home-btn, 
.hero-btn, 
.hero-btn h2, 
.home-img, 
.header-icon, 
.cart::after, 
.home-icon {
    @extend %placeholder-flex;
}

.header-ul {
    font-size: 1.4rem;
    font-style: $font-style;
    list-style: $list-none;
    gap: 3rem;
    font-weight: $font-600;

    a {
    color: #fff
    }
}

.header-ul a, .home-icon a {
    text-decoration: $text-decor;
}

.header-ul li a:hover {
    color: $primary-color;
}

.header-ul li a:hover, 
.header-ul li::after, 
.header-icon {
    transition: $primary-transition;
}

.header-ul li::after {
    opacity: 0;
}

.header-ul li::after, a:valid {
    content: "";
    position: $primary-position;
    transform: translate(-3rem, 4rem);
    background-color: $primary-color;
    height: 1rem;
    width: 1rem;
}

.header-ul li::after, 
h2 i, 
.header-icon, 
.cart::after, 
.home-icon i {
    border-radius: $circular;
}

.header-ul li:hover::after {
    opacity: 1
}

.header-icon {
    background-color: $primary-color;
    width: 5rem;
    height: 5rem;
    justify-content: $justify;
    font-size: 3rem;
    display: none;
    color: $color-black;
}

.cart::after {
    content: "0";
    position: $primary-position;
    background-color: $primary-color;
    height: 2rem;
    width: 2rem;
    justify-content: $justify;
    font-size: .8rem;
    transform: translate();
    border: 2px $color-black solid;
    transform: translate(2.5rem, -2rem);
}    

.home-btn {
    gap: 3rem;
}

.home-btn button, 
.hero-btn button, 
.hero-2 button {
    @include primary-button;
}

.home-btn button:hover, 
.hero-btn button:hover,
.header-icon:hover, 
.hero-2 button:hover {
    @include button-hover-effect;
}

.hero {
    transform: translateY(15rem);
    // display: $display;
}

.hero h2 {
    font-style: $font-style;
    color: $color-white;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    color: #ffffff;
}

.hero-h2, .hero-btn h2 {
    font-weight: $font-600;
}

.hero-heading {
    color: $color-white;
    font-size: 4rem;
    font-style: $font-style;
    line-height: 1.2;
    margin-bottom: 6rem;

        span {
            color: $primary-color;
        }

        span::before {
            content: "";
            position: $primary-position;
            background-color: #ffc9085f;
            height: 1.2rem;
            border-radius: 6rem;
            transform: translateY(7.5rem);
            width: 40rem;
        }

        
}

.hero-btn {
    gap: 5rem;

        h2 {
            gap: 2rem;
            transform: translateY(1rem);
        }

        i {
            background-color: #1c1601;
            padding: 2rem;
            color: $color-white;
        }
}

.hero-2 p {
    font-size: 6rem;
    transform: translateY(17rem);
    text-align: $justify;
    margin-bottom: 20rem;
    color: $color-white;
}

.hero-2 button {
//    transform: translateX(450px);
    margin: 0 auto;
    @extend %placeholder-flex;
    justify-content: $justify;
}

.home-img {
    justify-content: flex-end;

    img {
        width: 60rem;
        margin-block-start: 10rem;
    }
}

.home-icon i {
    padding: 4rem;
    background-color: $primary-color;
    font-size: 7rem;
    box-shadow: .1rem .1rem 2rem .2rem #0000007d;
    color: $secondary-color;
    text-decoration: $text-decor;
}